@import "@new-ui/colors";
@import "@new-ui/effects";
@import "@new-ui/grid";
@import "@new-ui/spacings";
@import "@new-ui/typography";

html,
body {
  content-visibility: auto;
  -webkit-font-smoothing: antialiased;
}

*:focus-visible {
  outline: none;
}