---
import Layout from "../components/layout.astro";
---

<Layout title="404 Page Not Found - Journal">
    <main>
    <p style="text-align: center;">
    <em>The page you're trying to access does not exist.</em></p>
    </main>
</Layout>
