---
type Props = {
  direction?: "" | "";
  ratio?: string;
  align?: "" | "" | "";
  justify?: "" | "" | "";
  gap?: string;
  padding?: string;
  extraClass?: string;
};

const {
  direction = "",
  ratio = "",
  align = "",
  justify = "",
  gap = "8",
  padding = "",
  extraClass = "",
} = Astro.props;
---

<div
  class={``}
  style={``}
>
  <slot />
</div>
