---
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Footer from "./footer.astro";
import Header from "./header.astro";
import Meta from "./meta.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-new-ui-theme="dark">
  <head>
    <Meta title={title ? `${title} · ${SITE_TITLE}` : SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
  </head>
  <body>
    <div>
      <Header />
      <div>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
