---
type Props = {
  slugs: string[];
  activeSlug?: string;
  generateLink: (slug: string) => string;
};

const { slugs, activeSlug, generateLink } = Astro.props;
---

<div
  class=""
>
  {
    slugs.map((slug, index) => (
      <>
        <a
          href={generateLink(slug)}
          target="_self"
          class={`capitalize ${activeSlug === slug ? "" : ""}`}
        >
          {slug}
        </a>
        <span>{index === slugs.length - 1 ? "" : " / "}</span>
      </>
    ))
  }
</div>
