---
const props = Astro.props;
---

<div {...props} class="">
  <img
    class="w-full rounded-lg overflow-clip"
    src={props.src ? `${props.src}?w=1024&q=70` : ""}
    alt={props.alt ?? ""}
  />
  <span class="">{props.alt}</span>
</div>
